.form-div {
  background-color: #FCF8F1;
  padding: 40px;
  border-radius: 12px;
  /* box-shadow: 0px 0px 20px #FEF3C7; */
  border: 1px solid #8B5E3C;
  width: 100%;
  max-width: 350px;
  margin: 100px auto;
  text-align: center;
}

.login-register-form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 15px;
}

.login-title {
  color: #8B5E3C;
  margin-bottom: 30px;
  margin-top: -10px;
  font-size: 2rem;
  font-weight: bold;
}

.login-register-input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
}

.login-register-label {
  align-self: flex-start;
  font-size: 0.9rem;
  margin-bottom: -7px;
  color: #8B5E3C;
}

.login-register-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #8B5E3C;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 10px;
}

.login-register-button:hover {
  background-color: #3E2723;
  transform: translateY(-1px);
}

.login-register-a {
  color: #8B5E3C;
  text-decoration: none;
  font-size: 0.8rem;
}

.login-register-p {
  color: #8B5E3C;
  margin: -1px;
}