.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-container {
  background-color: #FCF8F1; 
  padding: 40px;
  border-radius: 12px;
  border: 1px solid #8B5E3C; 
  /* box-shadow: 0 0 20px #8B5E3C; */
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.modal-title {
  color: #8B5E3C;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.modal-text {
  color: #8B5E3C;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.modal-button {
  background-color: #8B5E3C;
  color: white;
  border: none;
  padding: 12px 40px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  width: 100%;
}

.modal-button:hover {
  background-color: #3E2723;
  transform: scale(1.02);
}