@font-face {
    font-family: 'Library Regular';
    src: url('./Library.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;   
    background-color: #FEF3C7;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.header-logo a {
    font-family: 'Library Regular';
    font-size: 2rem;
    font-weight: 800;
    color: #8B5E3C;
    letter-spacing: -0.5px;
    /* font-family: sans-serif; */
}


.header-menu {
    display: flex;
    align-items: center;
    gap: 25px; 
}

.login-link {
    text-decoration: none;
    color: #8B5E3C;
    font-weight: 600;
    font-size: 0.95rem;
    transition: color 0.2s;
}

.login-link:hover {
    color: #000;
}


.register-btn {
    text-decoration: none;
    background-color: #8B5E3C;
    color: white !important;
    padding: 10px 22px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.95rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.2);
}

.register-btn:hover {
    background-color: #3E2723;
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}
.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    width: 350px;
}

.search-bar input {
    width: 100%;
    padding: 10px 45px 10px 15px;
    border: 2px solid #8B5E3C;
    border-radius: 8px;
    outline: none;
    font-size: 0.95rem;
    background-color: white;
    transition: border-color 0.2s;
}

.search-bar button {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8B5E3C;
}
.search-bar button:hover {
    background: transparent; 
    transform: translateY(-50%) scale(1.1);
}