.form-div {
  background-color: #121212;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.3);
  width: 100%;
  max-width: 350px;
  margin: 100px auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 15px;
}

.login-title {
  color: #ff0000;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
}

label {
  align-self: flex-start;
  font-size: 0.9rem;
  margin-bottom: -7px;
  color: white;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #ff0000;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 10px;
}

a {
  color: #ff4d4d;
  text-decoration: none;
  font-size: 0.8rem;
}

p {
  color: white;
  margin: -1px;
}